body{
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0%;
    padding: 0%;
    transition: all ease-in-out 8000ms;
}
.box-container{
    width: 10vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-content: center;
    grid-gap: 1em;
}
.box-container .box{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-container .box img{
    width: 80px;
    height: 80px;
    /* display: none; */
}
.arrows{
    width: 100vw;
    margin-top: -140px;
    margin-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrows img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-top: -500px;
    margin-left: 1000px;
}
.arrows img:last-child{
    animation: forward 2s linear infinite;
    margin-right: 20px;
}
@keyframes backward{
    100%{
        transform: translate(-10px);
    }
}
@keyframes forward{
    100%{
        transform: translate(10px);
    }
}